<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/index.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <title>Document</title>
  </head>
  <body class="container">
    {{#if error}}
      <div class="error">{{error}}</div>
    {{/if}}
    {{{body}}}
  </body>
</html>