<h1>hello world</h1>

<div>
  {{#each messages}}
  <div>{{author}}: {{content}}</div>
  {{/each}}
</div>

{{#if user}}
<form method="post" action="/message">
  <label>Message: 
    <input type="text" name="message" />
  </label>
  <button type="submit">send</button>
</form>
{{else}}
<a href="/login">login</a>
<a href="/register">register</a>
{{/if}}