{{#if user}}
<a class="button" href="/logout">logout</a>
{{/if}}

<div>
  {{#each messages}}
  <div>{{author}}: {{content}}</div>
  {{/each}}
</div>

{{#if user}}
<form class="form" method="post" action="/message">
  <label class="label">Message: 
    <input class="input"  type="text" name="message" />
  </label>
  <button class="button" type="submit">send</button>
</form>
{{else}}
<a href="/login">login</a>
<a href="/register">register</a>
{{/if}}