
<h1>login</h1>
<form method="post" action="/login">
<label>username: 
  <input type="text" name="username" />
</label>
<label>password: 
  <input type="password" name="password">
</label>
<button type="submit">login</button>
</form>